.todoitem {
  display:flex;
  align-items:center;
  gap:20px;
  padding-bottom:20px;
  border-bottom:1px solid rgb(240,240,240);
}
.todoitem input {
  width:20px;
}

.todoitem .content {
  flex:1;
}

.todoitem  .date {
  font-size:14px;
  color:gray
}

.todoitem button {
  cursor:pointer;
  color:gray;
  font-size:14px;
  padding:5px;
  border:none;
  border-radius:5px;
}